* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif !important;
  color: #666 !important;
}
.link {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
  color: #333;
}
h2 {
  font-size: 30px !important;
  font-weight: 600 !important;
}
h3 {
  font-size: 22px !important;
  font-weight: 600 !important;
}
h4 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.btn-yatra {
  background: #6abe45;
  border: 2px solid #6abe45;
  color: #fff;
  width: 180px;
  height: 60px;
  border-radius: 100px;
  transition: .3s;
}
.btn-yatra.green {
  background: #6abe45;
  width: 120px;
  height: 50px;
}

.mui-green {
  color: #fff !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 100px !important;
  border: 2px solid #6abe45 !important;
  width: 150px !important;
}
.mui-green:hover,
.btn-yatra:hover {
  background: #fff !important;
  color: #6abe45 !important;
}
#basic-menu .link {
  color: #666 !important;
  font-size: 16px !important;
  font-family: 'Poppins', sans-serif !important;
}
#basic-menu .link .fa-icon {
  color: #6abe45 !important;
  width: 20px;
  margin-right: 5px;
}
.spinner-border {
  margin: auto;
  border: 0.25em solid #6abe45 !important;
  border-right-color: transparent !important;
}
.pre-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box p {
  margin: 30px 0;
}
.header-text {
  text-align: center;
  margin-bottom: 50px;
}
.header-text p {
  margin-top: 15px;
}

/* -------------------- HEADER START -------------------- */
.navbar {
  background: #fff;
  padding: 15px 0 !important;
}
.navbar .logo {
  color: #6abe45;
  font-size: 32px;
  margin-bottom: 0;
  font-family: 'Dancing Script', cursive !important;
}
.navbar .logo img {
  width: 32px;
}
.navbar .hamburger {
  padding-top: 10px;
  width: 32px;
}
.navbar .navbar-nav {
  margin: auto;
  align-items: center;
}
.navbar .nav-item .name,
.navbar .nav-item .link {
  color: #666;
  text-decoration: none;
  margin: 0 25px;
  transition: .4s;
}
.navbar .nav-item .link:hover {
  color: #6abe45;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem !important;
}
.navbar button.link {
  background: none;
  border: none;
}
/* -------------------- HEADER END -------------------- */


/* -------------------- HOME BANNER START -------------------- */
.home-banner {
  margin-top: 97px;
  margin-bottom: 100px;
  padding: 250px 0;
  background: url(./images/home-banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
/* -------------------- HOME BANNER END -------------------- */


/* -------------------- SERVICE SECTION START -------------------- */
.service {
  margin-bottom: 70px;
}
.service-box {
  padding: 30px;
  transition: .3s;
  text-align: center;
}
.service-box .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 20px;
  display: inline-block;
  margin: auto;
  margin-bottom: 15px;
  background: #ddffcc;
}
.service-box .img-box img {
  width: 36px;
}
.service-box h3 {
  margin-bottom: 15px;
}
/* -------------------- SERVICE SECTION END -------------------- */


/* -------------------- ABOUT SECTION START-------------------- */
.about {
  margin-bottom: 100px;
  background: #fff;
}
.about-page {
  margin-top: 100px;
  padding: 100px 0;
}
/* -------------------- ABOUT SECTION END-------------------- */


/* -------------------- TOUR SECTION START -------------------- */
.tour-section {
  background: #ecf7f3;
  padding-top: 100px;
  padding-bottom: 85px;
  margin-bottom: 100px;
}
.tour-box {
  background: #fff;
  margin: 15px 0;
}
.tour-box .img-box {
  overflow: hidden;
}
.tour-box .img-box img {
  transition: .3s;
}
.tour-box:hover > .img-box img {
  transform: scale(1.1);
}
.tour-box .info {
  padding: 15px;
}
.tour-box .price {
  color: #6abe45;
  margin-bottom: 0;
}
.tour-box .date {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}
.tour-box .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-details {
  margin-top: 100px;
  padding: 100px 0;
}
.tour-details .description {
  margin: 15px 0;
}
.tour-details .date-place {
  margin: 15px 0;
}
.tour-details .fa-icon {
  margin-right: 10px;
}
.tour-details .btn-yatra {
  margin-top: 15px;
}
/* -------------------- TOUR SECTION END -------------------- */


/* -------------------- MY PACKAGE SECTION START -------------------- */
.my-package-section {
  background: #ecf7f3;
  padding-top: 200px;
  padding-bottom: 85px;
}
.package-section-box h2 {
  margin-bottom: 15px;
}
.package-section-box {
  margin: auto;
  min-height: 262px;
}
.package-box {
  background: #fff;
  margin: 15px 0;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.package-box .img-box {
  width: 30%;
}
.package-box .img-box img {
  height: 100%;
}
.package-box .info {
  padding: 30px;
  position: relative;
  width: 70%;
}
.package-box .date {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}
.package-box .status {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 14px;
  background: #ecf7f3;
  padding: 5px 20px;
  border-radius: 100px;
  margin-bottom: 15px;
}
.package-box .pending {
  background: #f77e5c33;
}
.package-box .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* -------------------- MY PACKAGE SECTION END -------------------- */


/* -------------------- MANAGE PACKAGES START -------------------- */
.manage-package {
  background: #ecf7f3;
  padding: 200px 0 100px 0;
}
.manage-package .manage-package-box h3 {
  margin-bottom: 30px;
}
.manage-package .manage-package-box {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
  overflow-x: auto;
}
.manage-package .table {
  caption-side: bottom;
  border-collapse: collapse;
  border-spacing: 0px;
  min-width: 500px;
}
.manage-package .table tbody {
  border-top: 0px;
  position: relative;
  top: 10px;
}
.manage-package thead {
  background: #ecf7f3;
}
.manage-package thead th {
  color: #666;
  font-weight: 600;
  padding: 1rem .5rem;
  border: none;
}
.manage-package td {
  border: none;
  color: #666;
  padding: .8rem .5rem !important;
}
.manage-package td .btn-yatra {
  font-size: 14px;
  width: 100px;
  height: 35px;
}
.manage-package td .approved {
  background: #ecf7f3;
  border: 2px solid #ecf7f3;
  color: #666;
}
.manage-package td .approved:hover {
  background: #ecf7f3 !important;
  border: 2px solid #ecf7f3 !important;
  color: #666 !important;
}
.manage-package td .delete {
  background: #f77d5c;
  border: 2px solid #f77d5c;
}
.manage-package td .delete:hover {
  color: #f77d5c !important;
}
.manage-package thead th:first-child {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  overflow: hidden;
}
.manage-package thead th:first-child,
.manage-package tbody td:first-child {
  padding-left: 20px !important;
}
.manage-package thead th:last-child {
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  overflow: hidden;
}
/* -------------------- MANAGE PACKAGES END -------------------- */


/* -------------------- LOGIN AND REGISTRATION START -------------------- */
.login {
  background: #ecf7f3;
  padding: 200px 0 100px 0;
}
.login .login-box h3 {
  margin-bottom: 30px;
}
.login .login-box {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}
.login .login-box hr {
  background-color: #999;
}
.login .login-box form {
  text-align: center;
  margin-bottom: 15px;
}
.login .login-box .form-group {
  margin-bottom: 15px;
}
.login .login-box .form-control {
  border: none;
  height: 60px;
  border-radius: 5px;
  padding: 20px;
  color: #666;
  border: 1px solid #eee;
}
.login .login-box .form-control:focus {
  box-shadow: 0 0rem 0rem rgba(0,0,0,.15)!important;
  border: 1px solid #6abe45;
}
.form-control.shadow-sm {
  box-shadow: 0 0rem 0rem rgba(0,0,0,.15)!important;
}
.login .login-box .btn-yatra {
  width: 100%;
}
.login .login-box .btn-yatra:hover {
  background: #6abe45;
  color: #fff;
  transform: translate(0px, 0px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.login .login-box .google-btn {
  border: none;
}
.login .login-box .google-btn:hover {
  color: #666;
}
.login .login-box .google-btn {
  margin-bottom: 15px;
  background: #fff !important;
  color: #435059;
}
.login .login-box .google-btn img {
  padding-right: 5px;
}
.login .login-box .switcher {
  margin-bottom: 0;
  margin-top: 15px;
}
.login .login-box .switcher .link {
  color: #6abe45;
}
.firebase-error {
  color: #f77d5c;
  font-size: 14px;
}
.login-box .error {
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
  color: #f77d5c;
  font-weight: normal;
}
input::placeholder {
  color: #999 !important;
}
.book-package {
  padding: 0;
  background: #fff;
}
/* -------------------- LOGIN AND REGISTRATION END -------------------- */


/* -------------------- ADD PACKAGE PAGE START -------------------- */
.add-package .login-box {
  max-width: 1000px;
}
.add-package .login-box .text-area {
  height: 180px;
}
.add-package .login-box .btn-yatra {
  margin-top: 30px;
  width: 50%;
}
.add-package .login-box .form-control {
  border-radius: 30px;
}
/* -------------------- ADD PACKAGE PAGE END -------------------- */


/* -------------------- FOOTER SECTION START -------------------- */
.footer {
  padding: 100px 0;
  background: #0e0e10;
}
.footer .logo {
  color: #6abe45;
  font-size: 32px;
  margin-bottom: 30px;
  font-family: 'Dancing Script', cursive !important;
}
.footer .logo img {
  width: 32px;
}
.footer p {
  color: #999;
}
.footer h4 {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 35px;
}
.footer .nav-item {
  margin-bottom: 10px;
}
.footer .link {
  margin-bottom: 25px;
  color: #999;
  transition: .4s;
}
.footer .link:hover {
  color: #6abe45;
}
.footer .fa-icon {
  color: #999;
  width: 15px;
  margin-right: 10px;
  margin-top: 3px;
}
/* -------------------- FOOTER SECTION END -------------------- */


/* -------------------- NOT FOUND PAGE START -------------------- */
.not-found {
  margin-top: 200px;
  margin-bottom: 100px;
}
.not-found img {
  margin-bottom: 50px;
  width: 500px;
}
.not-found h3 {
  margin-bottom: 30px;
}
.not-found .link {
  color: #6abe45;
}
/* -------------------- NOT FOUND PAGE END -------------------- */


/* -------------------- RESPONSIVE MEDIA QUERIES -------------------- */
@media (max-width: 992px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
    margin: 15px 0;
  }
  .collapse {
    text-align: center;
  }
  .collapse .btn-yatra {
    margin-top: 15px;
  }
  .home-banner {
    margin-top: 83px;
    padding: 150px 0;
    background-position: center left;
  }
}